header 
{
  font-size: small;
  padding: 0px;
  width: 95%;
  margin-top: 0px;
  height: fit-content;
  box-sizing: inherit;
  width: 100%;
  height: 186px;
  text-align: center;
}

section {
  font-size: 15px;
  position: inherit;
  background: #E0C6A6;
  box-sizing: inherit;
  width: 98%;
  border-radius: 2%;
  text-align: center;
  overflow: auto;
  margin: auto;
  padding: 10px;
}

.special {
  background-color: #73AD21;
  width: 100%;
  display: flex; 
  justify-content: center
}

h1 {
  color: #AA0000;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
  font-family: "Lucida Console", "Courier New", monospace;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
}

ul {
 font-size: medium;

}
.subtopic {
  color: white;
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  font-weight: bold;
  background-color: #E0c6a6;
  margin-bottom: 1em;
  padding: 5px;
  border: medium dotted #73AD21;
  border-radius: 20px 20px 20px 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.ftopic {
  color: black;
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  font-weight: lighter;
  background-color: #D9D9D9;
  margin-bottom: 2px;
  padding: 5px;
  border: medium dotted #73AD21;
  border-radius: 20px 20px 20px 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

img {
  border-radius: 120px 120px 120px 120px;
  margin: 20px;
}

.special {
  color: white;
  font-size: 15px;
  width: 98%;
  height: fit-content;
  border: dotted thin #73AD21;
  padding: 10px;
  position: fixed;
  z-index: 3;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li :hover {
  color: red;
}

.top {
  display: flex;
  justify-content: center;
  background-color: #E0C6A6;
  color: #73AD21;
}

li :hover {
  color: #73AD21;
}


article {
  width: 95%;
  height: fit-content;
  margin: 20px;
  padding: 10px;
  border: thin dotted #73AD21;
  border-radius: 2%;
  background-color: #d9d9d9;
  overflow: auto;
  text-align: left;
}

#leftbox {
  float: left;
  justify-content: left;
  width: 50%;
  height: 100px;
}


#rightbox {
  float: right;
  justify-content: right;
  width: 50%;
  height: 100px;

}

#right {
  float: right;
  justify-content: right;
  width: 50%;
  height: 80px;
}

#left {
  float: left;
  justify-content: left;
  width: 50%;
  height: 80px;
  text-decoration: none;
}

footer {
  background-color: #E0C6A6;
  margin: 0.5em;
  padding: 5px;
  border: thin dotted #73AD21;
  border-radius: 2%;
  text-align: center;
  font-size: medium;
}

.f1 {
  background-color: #D9D9D9;
  width: 98%;
  padding: 10px;
  text-align: left;
  border: thin dotted #73AD21;
  border-radius: 2%;
  }

.f2 {
  background-color: #D9D9D9;
  padding: 10px;
  text-align: center;
  border: thin dotted #73AD21;
  border-radius: 2%;
  text-decoration-line: none;
}

li :hover {
  color: #73AD21;
}

ul li {
  list-style-type: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,;
}

.heroImage {
	background-image: url('./images/Hero2.jpg');
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: small;
  }

  ul{
    font-size: x-small;
  }

  p{
    font-size: small;
  }

  nav{
    background-color: yellow;
    font-size: x-small;
  }

  .special {
    color: black;
    border: dotted thin #73AD21;
    padding: 5px;
    position: fixed;
    }

  .heroImage{
    background-image: url('./images/Hero.jpg');
  }
  
  header {
    color: #73AD21;
  }

  article {
    margin: 2px;
    
  }
}

@media screen and (min-width: 1000px) {
    h1 {
      font-size: small;
    }
  
    ul{
      font-size: large;
    }
  
    p{
      font-size: large;
    }
  
    nav{
      background-color: yellow;
      font-size: x-small;
    }
  
    .special {
      color: black;
      border: dotted thin #73AD21;
      padding: 5px;
      position: fixed;
      }
  
    .heroImage{
      background-image: url('./images/Hero1.jpg');
    }
    
    header {
      color: #caa006d6;
    }
  
    article {
      margin: 10px;
    }

    section{
      background-color: #eee;
      padding: 0.5em;
      border: medium dotted #73AD21;
      padding: 10px;
    }

    footer {
      background-color: #eee;
      margin: 0.5em;
      padding: 10px;
      border: medium dotted #73AD21;
      border-radius: 3%;
      font-size: large;
    }
    }