header {
  background: #D9D9D9;
  box-sizing: inherit;
  width:100%;

}
section {
  background: #E0C6A6;
  box-sizing: inherit;
  width: 95%;
}
div {
  display: flex;
  justify-content: center;
}
    
.special {
  background-color: aqua;
}
h1 {
    color: #AA0000;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 120px;
    margin: 10px;
}
h3 {
    font-family: "Lucida Console", "Courier New", monospace;
  }
p {
    font-family: Arial, Helvetica, sans-serif;
  }

.subtopic {
  color: black;
    width: 70px;
    height: -10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #E0c6a6;
    margin-bottom: 1em;
    padding: 15px;
    border-style: solid;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: red;
    border-radius: 20px 20px 20px 20px;
  }
  img {
    border-radius: 120px 120px 120px 120px;
    margin: 20px;
    position: relative;
  }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}
.special {
  color: white;
  font-size: 15px;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a :hover {
  color: red;
  transition: 0.25s;
}