section {
    background-color: #E0C6A6;
  }
h1 {
    color: #AA0000;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background-color: #E0c6a6;
}
h3 {
    font-family: "Lucida Console", "Courier New", monospace;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
  }

  .subtopic {
    color: black;
    font-size: 15PX;
    font-weight: bold;
    background-color: #E0c6a6;
  }
  